root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{js,json,gyp,yaml}]
indent_style = space
indent_size = 2

[*.{c,h,cc}]
indent_style = space
indent_size = 4

[*.{js,ts}]
quote_type = single
